body {
    font-family: "Baskervville SC";
    background-color: #171718;
    margin: 0;
    padding: 0;
}

.Contenedor_Actualizar {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #8b0000;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.1);
}

input[type="submit"] {
    background-color: #8b0000;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #8b0000;
}